#portal-switcher-clippy {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 64px;
}

div#portal-switcher-menu {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 15px;
  width: 200px;
  background: #FFC;
  border: 1px solid #434f5c;
  border-radius: 4px;
  padding: 10px 10px;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

div#portal-switcher-menu ul {
  list-style: initial;
  list-style-position: inside;
}

div#portal-switcher-menu a {
  display: inline-block;
  color: #434f5c;
  margin: 5px 0;
}

div#portal-switcher-menu a.current {
  color: #2995e2;
  font-weight: bold;
}

div#portal-switcher-menu:after, div#portal-switcher-menu:before {
  top: 100%;
  left: 87%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

div#portal-switcher-menu:after {
  border-color: rgba(213, 204, 158, 0);
  border-top-color: #FFC;
  border-width: 10px;
  margin-left: -10px;
}
div#portal-switcher-menu:before {
  border-color: rgba(67, 79, 92, 0);
  border-top-color: #434f5c;
  border-width: 11px;
  margin-left: -11px;
}
